.seat {
  cursor: pointer;
  height: 80px;
  width: 80px;
  background-color: #4CC9F0;
  border: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat:hover {
  background-color: #4361EE;
}

.seat.selected {
  background-color: #4361EE;
}
